.custom-fs-sm th {
    height: 1px;
    padding: 0;
}
.z-index-2 {
    z-index: 2; /* Adjust this value as needed */
}

/* Apply custom styles to the DataTables search input */

.bg-pink{
    background-color: rgb(255, 144, 162);
}

