{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register/registeration_page.css' %}">
    {% block style %} 

    {% endblock %}
    
</head>

<body>
    <header>
        <h1>
            {% block headertitle%} {% endblock %}
        </h1>
        
        {% if user.is_authenticated %}
            <h4>    
                <a href="{% url 'logout' %}"> logout </a>
            </h4>
        {% endif %}
        
    </header>
    <div id="page_content">

        {% if messages %}
            {% for message in messages %}
                <div> {{message}} </div>
            {% endfor %}    
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>