{% extends 'register/base.html' %}


{% block headertitle%} Moneer's Home page {% endblock %}

{% block content %}

    <div class="container align-content-around justify-content-around vh-50 text-center mt-5 ">
        <!-- <a class=" btn btn-outline-secondary " href="register/">register here</a> -->
        <a class=" btn btn-outline-secondary " href="#">register here</a>
        <br>
        <br>
        <br>
        <a class="btn btn-outline-primary btn-lg" href="login/">login here</a>
    </div>

{% endblock %}