{% extends 'project2/base.html' %}


{% block title %} غياب اولي وتانية {% endblock %}

{% block header %} 
    <!-- <div class="container text-white me-5"> <a class="btn btn-warning" href="{% url 'project2:ebtda2y' %}"> صفحة ابتدائي بنين </a></div> -->
{% endblock %}

{% block content %}
    <div class="container d-flex flex-row justify-content-center">
        <h4 class="text-center bg-secondary text-white d-inline-block px-4 pb-2 fs-6 rounded-pill text-truncate"> غياب اولي وتانية </h4>
    </div>

    <div class="container-fluid d-flex align-items-center justify-content-center mb-1 ">
        <a href="{% url 'project2:attendance_specific' class_number='12' %}" class=" col-lg-2 col-md-2 col-sm-3 btn btn-warning rounded-circle mx-1 py-3  fw-bolder">  اولي <br> وتانية  </a>
        <a href="{% url 'project2:attendance_specific' class_number='34' %}" class=" col-lg-2 col-md-2 col-sm-3 btn btn-warning text-dark rounded-circle mx-1 py-3  fw-bolder">  تالتة <br> ورابعة  </a>
        <a href="{% url 'project2:attendance_specific' class_number='56' %}" class=" col-lg-2 col-md-2 col-sm-3 btn btn-warning rounded-circle mx-1 py-3  fw-bolder">  خامسة <br> وسادسة  </a>
    </div>

    <div class=" container d-flex flex-row justify-content-around text-center my-1" dir="rtl">
        <div class="input-group input-group-sm col-3">
            <input class="form-control " type="search" id="search" placeholder="live search " aria-label="Search">
            <a href="{% url 'project2:attendance_general' %}" class="btn btn-warning btn-sm"><i class="bi bi-arrow-clockwise"></i> </a>
        </div>
    </div>
    <div class="container border border-3 vh-100 vw-100 overflow-auto">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center fw-bolder overflow-auto " dir="rtl" id="table_id">
                        <thead class="bg-dark text-center text-warning">
                            <tr class=" text-center " style=" font-size: 10px; " >
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  تعديل الغياب  </th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                    <th class=" text-center"> <a href= "{% url 'project2:attendance_edit_specific' date.id %}" class="btn btn-outline-warning bg-white text-dark"  style="font-size: 10px;"> edit </a> </th>
                                    <!-- {% url 'project2:attendance_edit_specific' date.id %} -->
                                {% endfor %}
                            </tr>
                            <tr style=" font-size: 10px; " >
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  </th> <!-- Empty cell for student names -->
                                <th> اية اليوم</th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                <th class="text-white">{{ date.day_verse }}</th>
                                {% endfor %}
                            </tr>
                            
                            <tr style=" font-size: 10px; " >
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  </th> <!-- Empty cell for student names -->
                                <th> موضوع اليوم</th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                    <th class="text-white">{{ date.day_topic }}</th>
                                {% endfor %}
                            </tr>

                            <tr style=" font-size: 10px; " >
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  نسبة الحضور لليوم </th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                    <th class="text-white">{{ date.class_attendance_rate }} %</th>
                                {% endfor %}
                            </tr>
                            <tr style=" font-size: 10px; " >
                                <th>  </th> <!-- Empty cell for student names -->
                                <th>  </th> <!-- Empty cell for student names -->
                                <th> عنوان اليوم </th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                    <th class="text-white">{{ date.day_title }}</th>
                                {% endfor %}
                            </tr>
                            <tr style=" font-size: 10px; " >
                                <th style="position: sticky; right: 0; z-index: 1;"> الاسم </th> <!-- Empty cell for student names -->
                                <th style="width: 1px; font-size: 10px;  "> السنة</th> <!-- Empty cell for student names -->
                                <th style="width: 1px; font-size: 10px;  "> نسبة الحضور </th> <!-- Empty cell for student names -->
                                {% for date in dates %}
                                    <th class="text-white">{{ date.date|date:"d M" }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for student_data in attendance_data %}
                                <tr style="font-size: 10px;">
                                    <td class="bg-warning text-dark sticky-column" style="position: sticky; right: 0; z-index: 1;">{{ student_data.name}}</td>
                                    <td class="" >{{ student_data.academic_year }}</td>
                                    <td class="" >{{ student_data.attendance_rate }} %</td>
                                    <!-- {% for attendance_status in student_data.attendance_status %}
                                        <td>{% if attendance_status %}حضر{% endif %}</td>
                                    {% endfor %} -->
                                    {% for attendance_status in student_data.attendance_status %}
                                        {% if attendance_status == "attended" %}
                                            <td> حضر </td>
                                            {% elif attendance_status == "4_weeks_bonus" %}
                                            <td class="bg-success"> حضر </td>    
                                            {% else %}
                                            <td>  </td>    
                                        {% endif %}
                                    {% endfor %}
                                    
                                </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        // Initialize DataTable with options
        var dataTable = $("#table_id").DataTable({
            paging: false,
            // pageLength: 10,
            // lengthChange: true,
            // autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true,
            // dom: '<"d-flex justify-content-between"lf>tip',
            // dom: '<"d-flex justify-content-between"lf>tipB',
            dom: '<"d-flex justify-content-between"l>t<B>',
            // scrollX: true,  // Enable horizontal scrolling

            buttons:[
                // {
                //     extend: 'colvis', // ColVis button
                //     text: '<i class="fa fa-columns"></i>',
                //     className: 'btn btn-secondary mx-3',
                //     titleAttr: 'Columns Visibility',
                // },
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'Excel', 
                    // selected columns
                    exportOptions: {
                        columns: ':not(th:contains("الملف الشخصي"))', // Exclude the column with "Header 1"
                        format: {
                            body: function(data, row, column, node) {
                                // Apply RTL direction to Excel cells
                                return data; // Modify this if needed
                            }
                        }
                    },

                },
                {
                    extend: 'copy',
                    text: '<i class="fas fa-clone"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'Copy', 
                    // selected columns
                    exportOptions: {columns: [2,5] },

                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'Print', 
                    // selected columns
                    exportOptions: {
                        columns: ':not(th:contains("الملف الشخصي"))', // Exclude the column with "Header 1"
                        format: {
                            body: function(data, row, column, node) {
                                // Apply RTL direction to Excel cells
                                return data; // Modify this if needed
                            }
                        }
                    },
                    // tableHeaders: {alignment: center},
                    // customize: function(doc) {doc.style.tableHeaders.alignment = 'center';}
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'PDF', 
                    customize: function(doc) {
                        doc.defaultStyle.font = 'Arial, sans-serif'; // Set a suitable font
                        doc.styles.tableBodyEven.alignment = 'right'; // Set alignment for RTL text
                        doc.styles.tableBodyOdd.alignment = 'right'; // Set alignment for RTL text
                    },
                    // selected columns
                    exportOptions: {
                        // columns: ':not(th:contains("الملف الشخصي"))', // Exclude the column with "Header 1"
                        columns: [1,5], // Exclude the column with "Header 1"
                        format: {
                            body: function(data, row, column, node) {
                                // Apply RTL direction to Excel cells
                                return data; // Modify this if needed
                            }
                        }
                    },
                    // tableHeaders: {alignment: center},
                    // customize: function(doc) {doc.style.tableHeaders.alignment = 'center';}
                }
            ]
        });
        $('#search').keyup(function() {
            dataTable.search($(this).val()).draw();
        })

        // Scroll the table all the way to the right
        var dataTableScrollBody = $(".dataTables_scrollBody");
        dataTableScrollBody.scrollLeft(dataTableScrollBody.width() * 10);

        // Initialize DataTable for row selection
        const table = new DataTable('#table_id');
        // Handle row selection on click
        table.on('click', 'tbody tr', function(e) {
            e.currentTarget.classList.toggle('selected');
        });
        // Handle button click to display selected rows
        document.querySelector('#button').addEventListener('click', function() {
            alert(table.rows('.selected').data().length + ' row(s) selected');
        });
        // Add Bootstrap classes to the search input and wrapper
        $('.dataTables_filter input').addClass('form-control')
            .attr('placeholder', 'ابحث...'); // Customize the placeholder text as needed
        $('.dataTables_wrapper .dataTables_filter')
            .addClass('sticky-top bg-light p-2 justify-content-center');
    });

    
</script>
{% endblock %}