{% extends 'project2/base.html' %}

{% block title %} كشف غياب اولي وتانية ابتدائي {% endblock %}

{% block header %} 
    <!-- <div class="container text-white me-5"> <a class="btn btn-warning" href="{% url 'project2:attendance' %}"> الرجوع </a></div> -->
{% endblock %}

{% block content %}
    <div class="container text-white me-5 float-end mt-3 me-3"> <a class="btn btn-warning" href="{% url 'project2:attendance' %}"> الرجوع </a></div>

    <h4 class="text-center bg-secondary text-white container col-2 p-2 fs-5 mt-2 rounded-pill"> كشف غياب اولي وتانية ابتدائي </h4>
    <!-- <form method="post">
        {% csrf_token %}
        {% for student in students_12 %}
            <label>
            <input type="checkbox" name="attended_names" value="{{ student.name }}">
            {{ student.name }}
            </label><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form> -->
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert">
                    <form method="post">
                        {% csrf_token %}
                        <h5 class="text-center">اسماء اولي ابتدائي</h5>
                        {% for student in students_1 %}
                            <div class="form-check">
                                <input class="form-check-input larger-checkbox" type="checkbox" name="attended_names" value="{{ student.name }}" id="{{ student.name }}">
                                <label class="form-check-label" for="{{ student.name }}">
                                    {{ student.name }}
                                </label>
                                <hr>
                            </div>
                        {% endfor %}
                        <hr>
                        <h5 class="text-center">اسماء تانية ابتدائي</h5>
                        {% for student in students_2 %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="attended_names" value="{{ student.name }}" id="{{ student.name }}">
                                <label class="form-check-label" for="{{ student.name }}">
                                    {{ student.name }}
                                </label>
                                <hr>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      
    
{% endblock %}


{% block scripts %}

{% endblock %}