{% extends 'project2/base.html' %}

{% block title %} ebtda2y homepage {% endblock %}

{% block content %} 
<div class="container m-3 p-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
            <i class="bi bi-person-square bi-3x align-self-center"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a class="card-title fs-3 text-warning" href="info/">بيانات ابتدائي</a>
                <p class="card-text">جدول بيانات ابتدائي الخاصة بكل  واحد  </p>
                <p class="card-text"><small class="text-muted">قابلة للتعديل</small></p>
            </div>
        </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
            <i class="bi bi-card-checklist bi-2x"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a class="card-title fs-3 text-warning" href="attendance/">كشف الغياب </a>
                <p class="card-text"> كشف الغياب لكل جمعة او اي مناسبة في الكتيسة, يوم روحي, يوم رياضي, رحلة .. الخ </p>
                <p class="card-text"><small class="text-muted">قابلة للتعديل</small></p>
            </div>
        </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
            <i class="bi bi-card-checklist bi-2x"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a class="card-title fs-3 text-warning" href="#"> الافتقاد  </a>
                <p class="card-text"> افتقاد ما يجب افتقاده في كل اسبوع .. سواء من الملائكة ام من باقي الخدام ام من الاباء الكهنة</p>
                <p class="card-text"><small class="text-muted"> قابلة للتعديل </small></p>
            </div>
        </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
            <i class="bi bi-balloon bi-2x"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a class="card-title fs-3 text-warning" href="birthdays/">  اعياد ميلاد  </a>
                <p class="card-text"> قائمة باسماء الاعياد الميلاد للشهر الحالي والشهرين القادمين  </p>
                <p class="card-text"><small class="text-muted"> غير قابلة للتعديل </small></p>
            </div>
        </div>
        </div>
    </div>

    <!-- <a href="info/" direction="rtl;"> بيانات ابتدائي </a> -->
    <!-- <br> -->
    <!-- <br> -->
    <!-- <a href="#" direction="rtl;"> كشف الغياب وافتقاد </a>
    <br>
    <br>
    <a href="#" direction="rtl;"> اعياد ميلاد </a>
    <br>
    <br> -->
</div>
    
{% endblock %}

