{% extends 'project2/base.html' %}

{% block title %} بيانات ابتدائي {% endblock %}

{% block header %} 
    <!-- <div class="container text-white me-5"> <a class="btn btn-warning" href="{% url 'project2:ebtda2y' %}"> صفحة ابتدائي بنين </a></div> -->
{% endblock %}

{% block content %}
    <div class="container d-flex flex-row justify-content-center">
        <h6 class="text-center bg-secondary text-white px-4 py-2 rounded-pill text-truncate border border-warning " style="font-size: 14px;">
            جدول بيانات الاطفال
        </h6>
    </div>
    
        
    <div class="container d-flex flex-row justify-content-between">
        <div class="custom-fs-sm" dir="rtl">
            <div class="custom-fs-sm" >  <a class=" btn btn-warning rounded-1" href="{% url 'project2:add_student' %} " style="font-size: 10px;"> اضافة طفل? </a></div>
        </div>
        <div class="text-center col-sm-1" >
            <div class="input-group input-group-sm">
                <input class="form-control " type="search" id="search" placeholder="live search " aria-label="Search">
                <a href="{% url 'project2:info' %}" class="btn btn-warning btn-sm"><i class="bi bi-arrow-clockwise"></i> </a>
            </div>
        </div>
    </div>

    <div class="container border border-3 w-100 overflow-auto shadow text-center" style="height: 100vh;">
        
        <table class=" table table-striped overflow-auto table-hover table-bordered align-middle table-responsive" id="table_id" style="direction: rtl; max-width: 100%; font-size: small;">
            <thead class="table-dark text-center align-middle text-warning position-sticky top-0" style="font-size: 12px;">
                <tr class="border border-2 border-white position-sticky top-0">
                    {% if user.is_authenticated and user.username == "khadem" %}
                        <th class="edit-header col-5" > edit col</th>
                        <!-- <th class="order-header"> الرقم </th> -->
                        <th class=" bg-warning text-white mx-5 position-sticky z-index-2" style="width: 30%; "> الاسم </th>
                        <th> النوع </th>
                        <th> السنة الدراسية </th>
                        <th> المدينة </th>
                        <th> رقم التليفون </th> 
                        <th> رقم التليفون 2 </th>
                        <th> حساب الفيسبوك </th>
                        <th> تاريخ الميلاد </th>
                        <th> اسم المدرسة </th>
                        <th> اسم اب الاعتراف </th>
                        <th> الهوايات </th>
                        <th> مشاكل صحية </th>
                        <th> مكان السكن </th>
                        <th> المنطقة </th>
                        <th> العنوان </th>
                        <th> كيف الي الكنيسة </th>
                        <th> مسجل بقائمة الكنيسة </th>
                        <th> عدد الغيابات </th>
                        <th> الأخوة </th> 
                        
                        <th> اسم الأب </th>
                        <th> رقم تليفون الأب 1 </th>
                        <th> رقم تليفون الأب 2 </th>
                        <th> حساب فيسبوك الأب </th>
                        <th> مهنة الأب </th>
                        <!-- <th> الأب على قيد الحياة </th> -->
                        <th> ملاحظات الأب </th>

                        <th> اسم الأم </th>
                        <th> رقم تليفون الأم 1 </th>
                        <th> رقم تليفون الأم 2 </th>
                        <th> حساب فيسبوك الأم </th>
                        <th> مهنة الأم </th>
                        <!-- <th> الأم على قيد الحياة </th> -->
                        <th class="px-5" style="width: 40%;"> ملاحظات الأم </th> 
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center" style="font-size: 10px;">
                {% for student in students %}
                    <tr class="border border-1 border-dark">
                        {% if user.is_authenticated and user.username == "khadem" %}
                            <td class="edit-col btn btn-warning col-5"> <a href=" {% url 'project2:edit_student' student_id=student.id %}"> edit </a> </td>
                            <!-- <td class="order-col">{{ forloop.index }}</td> -->
                            <td class="bg-warning text-black position-sticky start-0">{{ student.name }}</td>
                            <td>{{ student.gender }}</td>
                            <td>{{ student.academic_year }}</td>
                            <td>{{ student.home_town }}</td>
                            <td>{{ student.phone_number }}</td>
                            <td>{{ student.phone_number2 }}</td>
                            <td>{{ student.facebook_profile }}</td>
                            <td>{{ student.date_of_birth }}</td>
                            <td>{{ student.school_name }}</td>
                            <td>{{ student.confession_father }}</td>
                            <td>{{ student.hobbies }}</td>
                            <td>{{ student.health_problems }}</td>
                            <td>{{ student.home_address }}</td>
                            <td>{{ student.home_region }}</td>
                            <td>{{ student.home_address }}</td>
                            <td>{{ student.how_to_church }}</td>
                            <td>{{ student.registered_in_church_list }}</td>
                            <td>{{ student.absences }}</td>
                            <td>
                                {% for brother in student.brothers.all %}
                                    {{ brother.name }}<br>
                                {% endfor %}
                            </td> 
                            {% if student.father_alive %}
                                <td class="father-name-col bg-warning">{{ student.father_name }}</td>
                                <td class="">{{ student.father_phone_number1 }}</td>
                                <td>{{ student.father_phone_number2 }}</td>
                                <td>{{ student.father_facebook_profile }}</td>
                                <td>{{ student.father_job }}</td>
                                <!-- <td>{{ student.father_alive }}</td> -->
                                <td>{{ student.father_notes }}</td>
                            {% else %}
                                <td class="father-name-col bg-danger">{{ student.father_name }}</td>
                                <td class=" ">{{ student.father_phone_number1 }}</td>
                                <td class=" ">{{ student.father_phone_number2 }}</td>
                                <td class=" ">{{ student.father_facebook_profile }}</td>
                                <td class=" ">{{ student.father_job }}</td>
                                <!-- <td>{{ student.father_alive }}</td> -->
                                <td class=" bg-pink">{{ student.father_notes }}</td>
                            {% endif %}

                            {% if student.mother_alive %}
                                <td class="mother-name-col bg-warning">{{ student.mother_name }}</td>
                                <td class="">{{ student.mother_phone_number1 }}</td>
                                <td>{{ student.mother_phone_number2 }}</td>
                                <td>{{ student.mother_facebook_profile }}</td>
                                <td>{{ student.mother_job }}</td>
                                <!-- <td>{{ student.mother_alive }}</td> -->
                                <td>{{ student.mother_notes }}</td>
                            {% else %}
                                <td class="mother-name-col bg-danger">{{ student.mother_name }}</td>
                                <td class=" ">{{ student.mother_phone_number1 }}</td>
                                <td class=" ">{{ student.mother_phone_number2 }}</td>
                                <td class=" ">{{ student.mother_facebook_profile }}</td>
                                <td class=" ">{{ student.mother_job }}</td>
                                <!-- <td>{{ student.mother_alive }}</td> -->
                                <td class=" bg-pink">{{ student.mother_notes }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        // Initialize DataTable with options
        var dataTable = $("#table_id").DataTable({
            paging: false,
            // pageLength: 10,
            lengthChange: true,
            autoWidth: false,
            searching: true,
            bInfo: true,
            bSort: true,
            // dom: '<"d-flex justify-content-between"lf>tip',
            dom: '<"d-flex justify-content-between"l>tipB',
            scrollX: true,  // Enable horizontal scrolling

            buttons:[
                {
                    extend: 'copy',
                    text: '<i class="fas fa-clone"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'Copy', 
                    // selected columns
                    exportOptions: {columns: [2,5] },

                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'Print', 
                    // selected columns
                    exportOptions: {columns: [2,4] },
                    // tableHeaders: {alignment: center},
                    // customize: function(doc) {doc.style.tableHeaders.alignment = 'center';}
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-pdf"></i>',
                    className: 'btn btn-secondary mx-3',
                    titleAttr: 'PDF', 
                    // selected columns
                    exportOptions: {columns: [2,4] },
                    // tableHeaders: {alignment: center},
                    // customize: function(doc) {doc.style.tableHeaders.alignment = 'center';}
                }
            ]
        });

        // var dataTable = $("#table_id").DataTable();
        $('#search').keyup(function() {
            dataTable.search($(this).val()).draw();
        })

        // Scroll the table all the way to the right
        var dataTableScrollBody = $(".dataTables_scrollBody");
        dataTableScrollBody.scrollLeft(dataTableScrollBody.width() * 10);

        // Initialize DataTable for row selection
        const table = new DataTable('#table_id');
        // Handle row selection on click
        table.on('click', 'tbody tr', function(e) {
            e.currentTarget.classList.toggle('selected');
        });

        // Handle button click to display selected rows
        document.querySelector('#button').addEventListener('click', function() {
            alert(table.rows('.selected').data().length + ' row(s) selected');
        });
    });
</script>

{% endblock %}